name: CI

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      TERM: xterm
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: "false"
      - name: Install
        run: echo y | make
      - name: Load bashrc
        run: source ~/.bashrc
      - name: Install gitconfig
        run: make gitconfig
        env:
          GIT_USER_NAME: example_user_name
          GIT_USER_EMAIL: example_user_email
